<!-- <h2>Shu</h2>
<app-popup [sas]="sas1"></app-popup> -->



<nav class="navbar navbar-expand-lg navbar-light bg-primary-subtle" >
  <div class="container" >
    <a class="navbar-brand" href="#">My App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="true"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" >
      <ul class="navbar-nav">
        <li class="nav-item">
          <span class="nav-link" routerLink="/home">Home</span>
        </li>
        <li class="nav-item">
          <span class="nav-link" routerLink="/about">About</span>
        </li>
        
        <li class="nav-item">
          <span class="nav-link" routerLink="/devform">form</span>
        </li>
        <li class="nav-item">
          <span class="nav-link" routerLink="/box">form2</span>
        </li>
        <li class="nav-item">
          <span class="nav-link" routerLink="/devta">Tab-1</span>
        </li> 
        <li class="nav-item">
          <span class="nav-link" routerLink="/optio">Tab-2</span>
        </li> 
        <li class="nav-item">
          <span class="nav-link" routerLink="/drag">grid</span>
        </li>
        <li class="nav-item">
          <span class="nav-link" routerLink="/listcheck">List</span>
        </li> 
        <li class="nav-item">
          <span class="nav-link" routerLink="/Accordian"> Accordian</span>
        </li> 
       

        
      </ul>
    </div>
  </div>
</nav> 


<!-- this is imp part -->
<!-- <table >
  <tr >
    <th>id</th>
    <th>name</th>
    <th>username</th>
    <th>email</th>
  </tr>

  <tr *ngFor="let item of users">
   <th>{{item.id}}</th>
   <th>{{item.name}}</th>
   <th>{{item.username}}</th>
   <th>{{item.email}}</th>
  </tr>

 </table>  -->




