

<h1>Password Match Example</h1>


<!-- password-match.component.html -->
<!-- <dx-text-box [(ngModel)]="password" placeholder="Password"></dx-text-box>
<dx-text-box [(ngModel)]="confirmPassword" placeholder="Confirm Password" (onValueChanged)="checkPasswordMatch()"></dx-text-box>
<dx-button [disabled]="isButtonDisabled">Submit</dx-button> -->


<!-- password-match.component.html -->
<dx-text-box [(ngModel)]="password" placeholder="Password" (onValueChanged)="checkPasswordMatch()"></dx-text-box>
<dx-text-box [(ngModel)]="confirmPassword" placeholder="Confirm Password" (onValueChanged)="checkPasswordMatch()"></dx-text-box>
<dx-button [disabled]="isButtonDisabled">Submit</dx-button>
