

<dx-form
    [formData]="employee"
    [colCount]="2"
    labelLocation="top">
    <dxi-item dataField="Date"></dxi-item>
    <dxi-item dataField="Branch"></dxi-item>
    <dxi-item dataField="partycode"></dxi-item>
    <dxi-item dataField="Party Accord."></dxi-item>
    <dxi-item dataField="number"></dxi-item>
   
    <dxi-item dataField="GST Trans"></dxi-item>
    <dxi-item dataField="Shipping A.."></dxi-item>
    <dxi-item dataField="Credit Period"></dxi-item>
    <dxi-item dataField="Service Tax"></dxi-item>
    <dxi-item dataField="Remark"></dxi-item>
    
    <dxi-item 
        dataField="notes" 
        [colSpan]="2">
        <dxo-label alignment="center">
        </dxo-label>
    </dxi-item>

    
    
</dx-form>
