
  <app-nav></app-nav>   
<!-- <app-devta></app-devta> -->

<!-- <app-devform></app-devform>  -->

<!-- <app-dev-accoundian></app-dev-accoundian>  -->



<!-- <app-devext></app-devext> -->
<!-- 
<app-ifdemo></app-ifdemo> -->



<!-- <br> -->
<!-- <app-tab></app-tab>

<app-tabp></app-tab p> 

 <app-frm1></app-frm1> 

<app-popup></app-popup>

<app-devform></app-devform> 


 <br><br>


<app-form></app-form> -->

<!-- <app-home></app-home> -->

<!-- <app-pagenotfound></app-pagenotfound>  -->



 <router-outlet></router-outlet>  
 <!-- <app-optio></app-optio> -->
 <!-- <app-box></app-box> -->



 <!-- <app-select-box></app-select-box> -->

 <!-- <app-list></app-list> -->

 
 <!-- <app-validfrm></app-validfrm> -->
 <!-- <app-accordian></app-accordian>  -->
 <!-- <app-listcheck></app-listcheck> -->

 <!-- <app-drag></app-drag> -->
<!-- <app-usepassword></app-usepassword> -->
<!-- <app-reactfrm></app-reactfrm> -->
<!-- <app-reactive></app-reactive> -->
<!-- <app-radiofrm></app-radiofrm> -->
<!-- <app-searchgrid></app-searchgrid> -->
<!-- <app-gridcol></app-gridcol> -->
<!-- <app-taskgrid></app-taskgrid> -->
<!-- <app-colum></app-colum> -->





 