<!-- <dx-button 
    (onClick)="showMessage()"
    stylingMode="outlined"
    type="success"
    icon="comment">
</dx-button> -->

<dx-button 
    (onClick)="showMessage()"
    stylingMode="outlined"
    type="success"
    icon="comment"
    >
</dx-button>

<br>
<dx-button
    text="Click me!">
</dx-button>

<br>
<dx-calendar></dx-calendar>
<br>
<br>

<!-- <dx-accordion ...
    itemTemplate="item"
    itemTitleTemplate="title" 
    [collapsible]="true"
    [multiple]="true"
    [animationDuration]="450"
    [dataSource]="employees"
>
    <div *dxTemplate="let data of 'title'">
        {{ data.FirstName + " " + data.LastName }}
    </div>
    <div *dxTemplate="let data of 'item'">
        {{ data.Position + " from " + data.State }}
    </div>
 
</dx-accordion>  -->

