<p>validfrm works!</p>
<form formGroup="userForm" (ngSubmit)="onSubmit()">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" formControlName="firstName">
  
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" formControlName="lastName">
  
    <label for="email">Email:</label>
    <input type="text" id="email" formControlName="email">
  
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password">
  
    <button type="submit" [disabled]="userForm.invalid">Submit</button>
  </form>

  <div *ngIf="userForm.get('firstName').hasError('required')">
    First Name is required.
  </div>
  <div *ngIf="userForm.get('firstName').hasError('minlength')">
    First Name must be at least 2 characters long.
  </div>
  <!-- Repeat similar blocks for other form controls -->
  
  